<div class="container d-flex justify-content-center align-items-center h-100  ">
  <form (ngSubmit)="convert()">
    <div class="d-flex justify-content-center">
      <div class="form-group" style="width: 100%">
        <input type="url" name="url" (keyup)="handleKeyup($event)" [value]="url" required placeholder="https://"
          class="form-control form-control-lg">
      </div>
      <br>
    </div>
    <div class="d-flex justify-content-center">
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg">Get PDF</button>
      </div>
    </div>
  </form>
</div>