<style>
  .content {
    line-height: normal;
  }
</style>
<div class="container-fluid">
  <div class="content" id="content" #content [style.font-size]="fontSize+'px'" [style.font-family]="fontFamily">
    <app-content [fontWeight]="fontWeight">
    </app-content>
  </div>
  <form class="set-up row w-100 p-2">
    <div class="col-md-3 d-flex justify-content-center">
      <div>
        <label for="fontSize">Font Size</label><br>
        <input id="fontSize" type="tel" value="16" (keyup)="onFontSize($event)" placeholder="Font Size">
      </div>
    </div>
    <div class="col-md-3 d-flex justify-content-center">
      <div>
        <label for="fontFamily">Font Family</label><br>
        <select (ngModelChange)="selectedFontFamily($event)" [ngModel]="fontFamily" name="fontFamily" id="fontFamily">
          <option *ngFor="let item of fontData" value="item" [ngValue]="item">{{item}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3 d-flex justify-content-center">
      <fieldset id="FontWigth">
        <input id="bold" type="radio" value="bold" name="fontWeight" (change)="changeFontWeight($event)" checked>
        <label for="bold">Bold</label><br>
        <input id="normal" type="radio" value="normal" name="fontWeight" (change)="changeFontWeight($event)">
        <label for="normal">UnBold</label>
      </fieldset>
    </div>
    <div class="col-md-3 d-flex justify-content-center">
      <form (ngSubmit)="convert()">
        <button type="submit" class="btn btn-primary">Get PDF</button>
      </form>
    </div>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Downloading...</p>
    </ngx-spinner>
  </form>
</div>